// Primary Colours 
$mainBackground: #2D2D2D;
$secondaryBackground: #2C2C2C;
$tetriaryBackground: #2B2B2B;
$borders: #2E2E2E;
$buttons: #2F2F2F;
$header: #2A2A2A;
$footer: #2A2A2A;
$textHighlight: #292929;
$sidebars: #303030;
$modals: #282828;
$highlightBorder: #313131;
$lightGrey: #424242;

// Bright Accent Colours
$goldenRod: #DAA520;
$darkOrange: #FF8c00;
$gold: #FFD700;
$skyBlue: #87CEEB;
$darkTurquoise: #00CED1;